extends layout

block content
  h1.heading=title

  form(action="", method="POST")
    div.mb-4
      label.form-label(for="name") Name
      input.form-control(type="text", id="name", name="name", required="true", value=category?category.name:"")
    div.mb-4
      label.form-label(for="description") Description
      textarea.form-control(id="description", name="description", class="resize-none h-32")
        | #{category?category.description:""}
    div.mb-4
      label.form-label(for="image_url") Image URL
      input.form-control(type="url", id="image_url", name="image_url", value=category?category.image_url:"")
    button.btn-primary(type="submit" class="mb-4") Submit

    if errors
      ul
        for error in errors
          li(class="py-2 px-4 rounded-xl bg-red-100 text-red-600 mb-2 max-w-fit") #{error.msg}