extends layout

block content
  ol(class="mb-4 flex gap-2")
    li(class="after:content-['>'] after:ml-2")
      a(href="/" class="text-gray-600 hover:underline") All categories
    li(class="after:content-['>'] after:ml-2")
      a(href=product.category.url class="text-gray-600 hover:underline") #{product.category.name}
    li #{product.name}

  div(class="grid grid-cols-2 gap-10")
    img(src=product.image_url class="rounded-xl shadow")

    div
      h1.heading(class="mb-1")=title
      p(class="mb-4")=product.formated_price
      p(class="mb-4")=product.description
      p(class=`mb-4 px-4 py-2 rounded-lg max-w-fit ${product.number_in_stock > 10 ? "bg-green-50 text-green-600" : product.number_in_stock > 0 ? "bg-yellow-50 text-yellow-600" : "bg-red-50 text-red-600"}`) #{product.number_in_stock + " " + (product.number_in_stock > 1 ? "items" : "item")} left in stock.

      hr

      div(class="flex space-x-4 mt-6")
        p
          a.btn-ghost(href=product.url + "/update") Update
        p
          a.btn-ghost(href=product.url + "/delete") Delete