extends layout

block content
  h1.heading=title

  form(action="", method="POST")
    div.mb-4
      label.form-label(for="name") Name
      input.form-control(type="text", id="name", name="name", required="true", value=product?product.name:"")
    div.mb-4
      label.form-label(for="price") Price (in $)
      input.form-control(type="number", id="price", name="price", required="true", min="0", value=product?product.price:"")
    div.mb-4
      label.form-label(for="description") Description
      textarea.form-control(id="description", name="description", class="resize-none h-32")
        | #{product?product.description:""}
    div.mb-4
      label.form-label(for="nb_in_stock") Number of items in stock
      input.form-control(type="number", id="nb_in_stock", name="number_in_stock", required="true", min="0", value=product?product.number_in_stock:"")
    div.mb-4
      label.form-label(for="image_url") Image URL
      input.form-control(type="url", id="image_url", name="image_url", value=product?product.image_url:"")
    div.mb-4
      label.form-label(for="category") Category
      select.form-control(id="category", name="category", required="true")
        for category in category_list
          if product
            option(value=category._id, selected=product.category.toString()===category._id.toString()?"selected":false) #{category.name}
          else
            option(value=category._id) #{category.name}
    button.btn-primary(type="submit" class="mb-4") Submit

    if errors
      ul
        for error in errors
          li(class="py-2 px-4 rounded-xl bg-red-100 text-red-600 mb-2 max-w-fit") #{error.msg}

        